.deepseek-balance-box {
    spacing: 3px;
}

.deepseek-icon {
    font-size: 14px;
    color: #4B7BFF;
    padding: 2px 0 0 0;
}

.deepseek-balance-label {
    font-size: 14px;
    font-weight: normal;
    padding: 7px 6px 0 6px;
}
